# python
__pycache__/
*.pyc
*.pyo
*.pyd

# venv
.venv/
venv/
backend/.venv/
backend/.venv_wsl/

# env
.env
backend/.env

# node
node_modules/
frontend/node_modules/

# build
dist/
build/
frontend/dist/
frontend/build/

# db / uploads / logs
*.db
backend/hr.db
uploads/
backend/uploads/
